.banner {
  position: relative;
  min-height: 400px;
  display: flex;
  align-items: center;
  /* background-color: rgb(243, 245, 243); */
  overflow: hidden;
}
.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
.content {
  width: 50%;
  padding-left: 30px;
}
.content button {
  font-style: italic;
  cursor: pointer;
  border-radius: 3px;
  color: rgb(228, 221, 221);
  background-color: var(--btnColor);
  padding: 4px 20px;
  border: none;
  min-width: 120px;
  margin-top: 10px;
}

.content button:hover {
  background-color: var(--btnColorHover);
}
