.category {
  display: grid;
  place-items: center;
  gap: 20px;
  padding: 20px 0;
  margin-top: 20px;
  /* border: 1px solid black; */
}
.content {
  text-align: center;
}
.imgGroup1,
.imgGroup2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imgGroup1 img {
  width: 49%;
  border-radius: 3px;
}
.imgGroup2 img {
  width: 32%;
  border-radius: 3px;
}

.imgGroup1 img:hover,
.imgGroup2 img:hover {
  opacity: 0.75;
  cursor: pointer;
}
