.ads {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: var(--paddingView);
  margin: 60px 0;
  /* border: 1px solid red; */
}
.ads p {
  opacity: 0.5;
}
.subscribe {
  /* border: 1px solid red; */
  padding: 20px;
}

.input {
  height: 40px;
}

.input input {
  border-color: rgb(126, 126, 126, 0.5);
  min-width: 220px;
  height: 100%;
}
.input button {
  color: rgb(224, 221, 221);
  background-color: var(--btnColor);
  border-color: rgb(126, 126, 126, 0.5);
}
.input button:hover {
  background-color: var(--btnColorHover);
}
